BODY { font-family: sans-serif; margin: 0; }
A    { text-decoration: none; }

.capitalized { text-transform: capitalize; }
.error       { color: #e48743; font-style: italic; }
.center      { text-align: center; width: 100%; }

.button               { background: linear-gradient(#fff, #ccc); color: #333; border: 1px solid #aaa; border-radius: 0.7em; padding: 0.3em; display: inline-block; font-size: 1em; text-align: center; }
.button:HOVER         { background: #fff; }
.button:DISABLED      { opacity: 0.5; }
.button.primary       { background: linear-gradient(#08b, #069); color: #fff; border: 1px solid #047; }
.button.primary:HOVER { background: #08b; }
.button.cancel        { background: transparent; color: #81c6dd; border-color: transparent; text-decoration: underline; }
.button.cancel:HOVER  { background: transparent; }

.header                   { background: linear-gradient(#90ca77, #73a15f); color: #ffffff; border-bottom: 1px solid #567947; height: 4em; }
.header SPAN              { position: absolute; }
.header SPAN:nth-child(1) { font-size: 3em; top: 0.05em; left: 4%; }
.header SPAN:nth-child(2) { font-size: 1em; top: 1.50em; right: 4%; min-width: 60%; text-align: right; }

.body    { margin-top: 0.5em; }
.content { width: 95%; margin: 1.5em auto; }

.loading { text-align: center; color: #81c6dd; font-weight: bold; }

.home > *         { display: block; margin: 0.8em auto; }
.home .button     { background: linear-gradient(#fff, #e4e4e4); padding: 0.25em 0.5em; }
.home SPAN        { display: inline-block; font-size: 1.25em; min-width: 13em; text-align: left; margin-left: 0.4em; }
.home .rememberMe { color: #333; text-align: center; margin-top: 2em; }

/* Menu: boxes positions */
.menu                { margin-bottom: 3em; }
.menu .box           { position: relative; display: inline-block; }
.menu .box.month     { width: 76.4%; top: 0.5em; left: 1.8%; }
.menu .box.logout    { width: 18.2%; top: 0.5em; left: 3.6%; }
.menu .box.remaining { width: 96.4%; top: 1.0em; left: 1.8%; }
.menu .box.add       { width: 47.3%; top: 1.5em; left: 1.8%; }
.menu .box.budget    { width: 47.3%; top: 1.5em; left: 3.6%; }
/* Specific boxes style */
.menu .box             { background-color: #90ca77; color: #fff; vertical-align: top; height: 7em; text-align: center; line-height: 2em; border-radius: 0.4em; cursor: pointer; }
.menu .box *           { font-size: 1.8em; }
.menu .box.warning     { background-color: #e48743; color: #fff; }
.menu .box.month I     { margin-top: 1.5em; }
.menu .box.logout      { text-align: center; }
.menu .box.logout I    { font-size: 3em; margin-top: 0.7em; }
.menu .box.remaining * { font-size: 4em; margin-top: 0.6em; display: block; }
.menu .box.add I       { margin-top: 0.8em; }
.menu .box.budget SPAN { margin-top: 0.8em; display: block; }

.list-header > A          { display: inline-block; width: 60%; font-size: 3em; color: #81c6dd; font-weight: bold; text-align: center; white-space: nowrap; }
.list-header > A.negative { color: #e48743; }
.list-header DIV          { display: inline-block; width: 36%; }
.list-header .button      { width: 100%; margin: 0.1em 0em; }

.list                    { font-size: 1.5em; color: #333; border-collapse: collapse; white-space: nowrap; }
.list TR                 { background-color: #eafae3; }
.list TR.even            { background-color: #e1f2da; }
.list TR TD              { text-align: center; padding: 0.2em 1em; }
.list TR TD:nth-child(3) { text-align: right; }
.list SPAN               { color: #fff; display: inline-block; width: 1.5em; border-radius: 0.3em; }

.form DIV                 { height: 3em; margin: 0.2em 0; }
.form DIV LABEL           { display: inline-block; text-align: right; width: 30%; }
.form SPAN                { display: block; margin-left: 31%; }
.form INPUT, .form SELECT { width: 50%; }
.form .primary            { float: right; width: 35%; }

.summary H2    { color: #73a15f; }
.summary > DIV { width: 50%; margin: 0 auto; }
.summary P *   { display: inline-block; width: 48%; text-align: right; }
.summary INPUT { font-weight: bold; }
