<form name="form">

	<div ng-class="{error: form.cost.$invalid}">
		<label>Montant</label>
		<input type="number" name="cost" ng-model="expense.cost"
			placeholder="0" required />
		<span ng-show="form.cost.$error.required">Obligatoire</span>
		<span ng-show="form.cost.$error.number">Mauvais format</span>
	</div>

	<div ng-class="{error: form.date.$invalid}">
		<label>Date</label>
		<input type="date" name="date" ng-model="expense.date"
			placeholder="aaaa-mm-jj" required ng-pattern="/\d{4}-\d{2}-\d{2}/" />
		<span ng-show="form.date.$error.required">Obligatoire</span>
		<span ng-show="form.date.$error.pattern">Mauvais format (aaaa-mm-jj)</span>
	</div>
	
	<a href="#/" class="btn btn-cancel">&laquo; Annuler</a>
	<button class="btn btn-primary" ng-click="save()" ng-disabled="!form.$valid">
		<span class="glyphicon glyphicon-plus"></span> Ajouter
	</button>

</form>