<div class="content home">

	<button ng-click="login('facebook')" class="button primary">
		<i class="fa fa-facebook-square fa-lg"></i> Se connecter via <span>Facebook</span>
	</button>
	<button ng-click="login('twitter')" class="button primary">
		<i class="fa fa-twitter-square fa-lg"></i> Se connecter via <span>Twitter</span>
	</button>
	<button ng-click="login('github')" class="button primary">
		<i class="fa fa-github-square fa-lg"></i> Se connecter via <span>GitHub</span>
	</button>

	<div class="rememberMe">
		<input type="checkbox" ng-model="rememberMe" /> Se souvenir de moi
	</div>

</div>
