<div class="content home">

	<button ng-click="login('facebook')" class="button">
		<i class="fa fa-facebook-square fa-3x" style="color: #3b5998"></i><span>Utiliser le compte <b>Facebook</b></span>
	</button>
	<button ng-click="login('twitter')" class="button">
		<i class="fa fa-twitter-square fa-3x" style="color: #4099ff"></i><span>Utiliser le compte <b>Twitter</b></span>
	</button>
	<button ng-click="login('github')" class="button">
		<i class="fa fa-github-square fa-3x" style="color: #333333"></i><span>Utiliser le compte <b>GitHub</b></span>
	</button>

	<div class="rememberMe">
		<input type="checkbox" ng-model="rememberMe" /> Se souvenir de moi
	</div>

</div>
