<div class="menu">
	<div>{{ computeTotal() | signedCurrency }}</div>
	<div>
		<a href="#/" ng-click="startNextMonth()" class="button">
			<i class="fa fa-forward"></i> Mois suivant
		</a>
		<a href="#/add-entry" class="button primary">
			<i class="fa fa-plus-circle"></i> Ajouter
		</a>
	</div>
</div>
<table class="list">
	<tbody>
		<tr ng-repeat="expense in expenses | orderBy:'date':true" ng-class-even="'even'">
			<td>
				<span title="{{expense.category.text}}">
					<i class="fa fa-{{expense.category.icon}}"></i>
				</span>
			</td>
			<td class="capitalized">{{ expense.date | date:'EEE dd' }}</td>
			<td>{{ -expense.cost | signedCurrency }}</td>
		</tr>
	</tbody>
</table>