<div>
	<span>{{ computeTotal() | signedCurrency }}</span>
	<div>
		<button ng-click="startNextMonth()">
			<span class="glyphicon glyphicon-forward"></span> Mois suivant
		</button>
		<a href="#/add-entry">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</div>
</div>
<table>
	<tbody>
		<tr ng-repeat="expense in expenses | orderBy:'date':true">
			<td class="capitalized">{{ expense.date | date:'EEE dd' }}</td>
			<td>{{ -expense.cost | signedCurrency }}</td>
			<td>
				<span title="{{expense.category.text}}" class="{{expense.category.color}}">
					<span class="glyphicon glyphicon-{{expense.category.icon}}"></span>
				</span>
			</td>
		</tr>
	</tbody>
</table>