BODY { font-family: sans-serif; margin: 0; }
A    { text-decoration: none; }

.header                   { background-color: #90ca77; color: #ffffff; height: 4em; }
.header SPAN              { position: absolute; }
.header SPAN:nth-child(1) { font-size: 3em; top: 0.05em; left: 4%; }
.header SPAN:nth-child(2) { font-size: 1em; top: 1.50em; right: 4%; min-width: 60%; text-align: right; }

.body { margin-top: 0.5em; }

.menu                  {  }
.menu DIV              { display: inline-block; }
.menu DIV:nth-child(1) { width: 50%; font-size: 3em; color: #81c6dd; font-weight: bold; text-align: center; white-space: nowrap; }
.menu .button          { width: 80%; margin: 0.1em 0em; }

.list         { width: 80%; margin: 1.5em auto; }
.list TR      { color: #e48743; }
.list TR.even { color: #81c6dd; }

.button               { background-color: #eee; color: #333; border: 1px solid #aaa; border-radius: 0.7em; padding: 0.3em; display: inline-block; text-align: center; }
.button:HOVER         { background-color: #fff; }
.button.primary       { background-color: #069; color: #fff; border: 1px solid #047; }
.button.primary:HOVER { background-color: #08b; }

.capitalized { text-transform: capitalize; }
.error       { color: #e48743; font-style: italic; }
