BODY { font-family: sans-serif; margin: 0; }
A    { text-decoration: none; }

.capitalized { text-transform: capitalize; }
.error       { color: #e48743; font-style: italic; }

.button               { background: linear-gradient(#fff, #ccc); color: #333; border: 1px solid #aaa; border-radius: 0.7em; padding: 0.3em; display: inline-block; font-size: 1em; text-align: center; }
.button:HOVER         { background: #fff; }
.button:DISABLED      { opacity: 0.5; }
.button.primary       { background: linear-gradient(#08b, #069); color: #fff; border: 1px solid #047; }
.button.primary:HOVER { background: #08b; }
.button.cancel        { background-color: transparent; color: #81c6dd; border-color: transparent; text-decoration: underline; }
.button.cancel:HOVER  { background-color: transparent; }

.header                   { background-color: #90ca77; color: #ffffff; height: 4em; }
.header SPAN              { position: absolute; }
.header SPAN:nth-child(1) { font-size: 3em; top: 0.05em; left: 4%; }
.header SPAN:nth-child(2) { font-size: 1em; top: 1.50em; right: 4%; min-width: 60%; text-align: right; }

.body    { margin-top: 0.5em; }
.content { width: 95%; margin: 1.5em auto; }

.home > *         { display: block; margin: 0.8em auto; }
.home .button     { padding: 0.25em 0.5em; }
.home SPAN        { display: inline-block; font-size: 1.25em; min-width: 13em; text-align: left; margin-left: 0.4em; }
.home .rememberMe { color: #333; text-align: center; margin-top: 2em; }

.menu DIV              { display: inline-block; }
.menu DIV:nth-child(1) { width: 60%; font-size: 3em; color: #81c6dd; font-weight: bold; text-align: center; white-space: nowrap; }
.menu DIV:nth-child(2) { width: 36%; }
.menu DIV.negative     { color: #e48743; }
.menu .button          { width: 100%; margin: 0.1em 0em; }

.list                    { font-size: 1.5em; color: #333; border-collapse: collapse; white-space: nowrap; }
.list TR                 { background-color: #eafae3; }
.list TR.even            { background-color: #e1f2da; }
.list TR TD              { text-align: center; padding: 0.2em 1em; }
.list TR TD:nth-child(3) { text-align: right; }
.list SPAN               { color: #fff; display: inline-block; width: 1.5em; border-radius: 0.3em; }

.form DIV                 { height: 3em; margin: 0.2em 0; }
.form DIV LABEL           { display: inline-block; text-align: right; width: 30%; }
.form SPAN                { display: block; margin-left: 31%; }
.form INPUT, .form SELECT { width: 50%; }
.form .primary            { float: right; width: 35%; }
