<form name="form" class="content form">

	<div ng-class="{error: form.cost.$invalid}">
		<label>Montant</label>
		<input type="number" name="cost" ng-model="expense.cost"
			placeholder="0" required />
		<span ng-show="form.cost.$error.required">Obligatoire</span>
		<span ng-show="form.cost.$error.number">Mauvais format</span>
	</div>

	<div ng-class="{error: form.category.$invalid}">
		<label>Catégorie</label>
		<select name="category" ng-model="expense.category"
			ng-options="category.text for category in categories | asArray | orderBy:'text'"
			required></select>
		<span ng-show="form.category.$error.required">Obligatoire</span>
	</div>

	<div ng-class="{error: form.date.$invalid}">
		<label>Date</label>
		<input type="date" name="date" ng-model="expense.date"
			placeholder="aaaa-mm-jj" required ng-pattern="/\d{4}-\d{2}-\d{2}/"
			min="{{ findDaysOfMonth().first | date:'yyyy-MM-dd' }}"
			max="{{ findDaysOfMonth().last  | date:'yyyy-MM-dd' }}" />
		<span ng-show="form.date.$error.required">Obligatoire</span>
		<span ng-show="form.date.$error.pattern">Mauvais format (aaaa-mm-jj)</span>
	</div>
	
	<a href="#/expenses" class="button cancel">
		<i class="fa fa-angle-double-left"></i> Annuler
	</a>
	<button ng-click="save()" ng-disabled="!form.$valid" class="button primary">
		<i class="fa fa-plus"></i> Ajouter
	</button>

</form>