<div class="content home">

	<div class="message">Se connecter avec votre compte :</div>

	<div ng-click="login('facebook')" class="provider facebook">
		<i class="fa fa-facebook-square fa-2x"></i><br /><span>Facebook</span>
	</div>
	<div ng-click="login('twitter')" class="provider twitter">
		<i class="fa fa-twitter-square fa-2x"></i><br /><span>Twitter</span>
	</div>
	<div ng-click="login('github')" class="provider github">
		<i class="fa fa-github-square fa-2x"></i><br /><span>GitHub</span>
	</div>

	<div class="rememberMe">
		<input type="checkbox" ng-model="rememberMe" /> Se souvenir de moi
	</div>

</div>
