<div class="content list-header">
	<div class="remainder" ng-class="{negative : computeRemainder() < 0}">{{ computeRemainder() | signedCurrency }}</div>
	<a href="#/expenses/add-entry" class="button primary"><i class="fa fa-plus-circle"></i> Nouvelle dépense</a>
</div>
<table class="content list">
	<tbody>
		<tr ng-repeat="expense in expenses | asArray | orderBy:'date':true" ng-class-even="'even'">
			<td>
				<span title="{{expense.category.text}}" style="background-color: #{{expense.category.color}}">
					<i class="fa fa-{{expense.category.icon}}"></i>
				</span>
			</td>
			<td class="capitalized">{{ expense.date | date:'EEE dd' }}</td>
			<td>{{ -expense.cost | signedCurrency }}</td>
		</tr>
	</tbody>
</table>
<a href="#/menu" class="button cancel center">Retour</a>
