<div class="content list-header">
	<div class="remainder" ng-class="{negative : budget - sum < 0}">{{ budget - sum | signedCurrency }}</div>
	<a href="#/expenses/add?from=expenses" class="button primary"><i class="fa fa-plus-circle"></i> Nouvelle dépense</a>
</div>
<table class="content list">
	<tbody>
		<tr ng-show="expenses | isEmpty"><td>Liste vide</td></tr>
		<tr ng-repeat="expense in expenses | asArray | orderBy:'date':true" ng-class-even="'even'" ng-click="selected = !selected">
			<td ng-hide="selected">
				<span title="{{expense.category.text}}" style="background-color: #{{expense.category.color}}">
					<i class="fa fa-{{expense.category.icon}}"></i>
				</span>
			</td>
			<td ng-hide="selected" class="capitalized">{{ expense.date | date:'EEE dd' }}</td>
			<td ng-hide="selected">{{ -expense.cost | signedCurrency }}</td>
			<td ng-hide="!selected" colspan="3">
				<a ng-href="{{'#/expenses/edit/' + expense.$id + '?from=expenses'}}">Modifier</a>
				/
				<a ng-click="remove(expense.$id)">Supprimer</a>
			</td>
		</tr>
	</tbody>
</table>
<a href="#/menu" class="button cancel center">Retour</a>
